# Virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# Database
*.db
*.sqlite
*.sqlite3

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/ 

# Scans folder content
scans/*
!scans/.gitkeep
